<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">

    <style>
        .data-center {
            padding: 6rem 1.5rem;
        }
    </style>

    <title>{{ title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="#">Giant Steps Capital</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            </ul>
        </div>

    </nav>

    <main role="main" class="container">

        <div class="jumbotron">

            <div class="container">
                <h1>Giant Zarathustra<small class="text-muted"> FIC FIM</small></h1>
                <p>Usando técnicas como inteligência artifical, o fundo funciona como um radar global, procurando por momentos de pânico ou euforia onde existam oportunidades pontuais e rápidas para obter forte resultado.</p>
                <p><a class="btn btn-primary my-2" href="https://gscap.com.br/fundos-zarathustra-darius/" role="button">Mais informações&raquo;</a></p>
            </div>
        </div>

        <section class="text-center">
            <div class="container">
                <h3 class="jumbotron-heading">Dados Gerais</h3>
                <p class="lead text-muted">Fundo Multimercado, De 07/03/2012 a 14/01/2020, Rentabilidade absoluta: 257.64%, Rentabilidade relativa: 246.93%</p>
                <p>
                    <p><a class="btn btn-secondary btn-sm" href="https://verios.com.br/apps/comparacao/log/20120307-20200114/cdi/11052478000181" role="button">Mais detalhes &raquo;</a></p>
                </p>
            </div>
        </section>

        <div class="card">
            <div class="card-header">
                Cálculo
            </div>
            <form method="post">
                <div class="card-body">
                    <h5 class="card-title">Informações de entrada</h5>
                    <p class="card-text">Selecione as data de início e término para os cálculos de rendimento do fundo</p>
                    <label for="start_date">New Date:</label>
                    <input name="start_date" id="start_date" placeholder="DD/MM/YYYY" data-input />
                    <label for="end_date">New Date:</label>
                    <input name="end_date" id="end_date" placeholder="DD/MM/YYYY" data-input />
                    <button type="submit" value="submit" class="btn btn-secondary btn-sm">Calculate</button>
                </div>
            </form>
        </div>
        {% block content %} {% endblock %}

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Flatpickr  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

    <script>
        $("#start_date").flatpickr({
            dateFormat: "Y-m-d",
            minDate: "2012-03-07",
            maxDate: "2020-01-14",
            "disable": [
                function(date) {
                    return (date.getDay() === 0 || date.getDay() === 6); // disable weekends
                }
            ],
            "locale": {
                "firstDayOfWeek": 0 // set start day of week to Monday
            }
        });
    </script>

    <script>
        $("#end_date").flatpickr({
            dateFormat: "Y-m-d",
            minDate: "2012-03-07",
            maxDate: "2020-01-14",
            "disable": [
                function(date) {
                    return (date.getDay() === 0 || date.getDay() === 6); // disable weekends
                }
            ],
            "locale": {
                "firstDayOfWeek": 0 // set start day of week to Monday
            }
        });
    </script>

</body>

</html>