<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .data-center {
            padding: 6rem 1.5rem;
        }
    </style>

    <title>{{ title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="#">Giant Steps Capital</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            </ul>
        </div>

    </nav>

    <main role="main" class="container">

        <div class="jumbotron">

            <div class="container">
                <h1>Giant Zarathustra<small class="text-muted"> FIC FIM</small></h1>
                <p>Giant Zarathustra, é um fundo de investimentos multimercado que conta com estratégias quantitativas</p>
                <p><a class="btn btn-primary btn-sm" href="https://gscap.com.br/fundos-zarathustra-darius/" role="button">Mais informações&raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <h4>Dados Gerais</h4>

            <body>
                <p class="text-sm-left"><b>CNPJ:</b> 11.052.478/0001-81</p>
                <p class="text-sm-left"><b>Classe:</b> Fundo Multimercado</p>
                <p class="text-sm-left"><b>Existência:</b> de 07/03/2012 a 14/01/2020</p>
                <p class="text-sm-left"><b>Rentabilidade absoluta:</b> 257,64%</p>
                <p class="text-sm-left"><b>Rentabilidade relativa:</b> 246,93%</p>
            </body>
            <p><a class="btn btn-secondary btn-sm" href="https://verios.com.br/apps/comparacao/log/20120307-20200114/cdi/11052478000181" role="button">Mais detalhes &raquo;</a></p>
        </div>

        <div class="card">
            <h5 class="card-header">Informações de entrada</h5>
            <p>Selecione as data de início e término para os cálculos de rendimento do fundo</p>
            <form method="post">
                <div class="form-group">
                    <label for="start_date">Data inicial:</label>
                    <input type="date" id="start_date" name="start_date" min="2012-03-07" max="2020-01-14">
                    <label for="end_date">Data final:</label>
                    <input type="date" id="end_date" name="end_date" min="2012-03-07" max="2020-01-14">
                </div>
                <button type="button" onclick="Calculate()" class="btn btn-secondary btn-sm">Calculate</button>
            </form>
        </div>

        <div>
            <p> </p>
        </div>
        {% block output %} {% endblock %}

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function Calculate() {
            // Atribui o valor digitado na data para váriavel start_date. Utiliza a biblioteca jquery para facilitar
            let start_date = $('#start_date').val()

            // Atribui o valor digitado na data para váriavel end_date. Utiliza a biblioteca jquery para facilitar
            let end_date = $('#end_date').val()

            // Criar tipo um dict, é os dados que serão enviado via post
            let postData = {
                "start_date": start_date,
                "end_date": end_date
            }

            $.ajax({
                url: 'calculate',
                data: postData,
                success: function(data) {
                    // TODO Aqui você pode escrever o código da saida, tipo rendererizar os dados
                },
                error: function() {
                    alert('failure'); // Aqui é se acontecer algum erro no POST
                }
            });
        }
    </script>
</body>

</html>